.book-info-rhs {
  .author_wrap {
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
  }

  .dv-star-rating {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 24px;
  }
  .book-desc {
    border-top: 1px solid #efefef;
  }
}
